@charset "UTF-8";

.crossword_div {
	width: 50%;
	margin: 1%;
	float: left;
}

.clues {
	width: 45%;
	margin: 1%;
	float: left;
}

table.crossword {
	border-collapse: collapse;
	border-spacing: 0;
}

.block, .blno {
	border: none;
	height: 25px;
}

td {
	border: solid 1px black;
	border-left: none;
}

.number {
	text-align: left;
	vertical-align: top;
	border-right: none;
	font-size: 0.5em;
	border-left: solid 1px black;
	width: 5px;
}

.number.block {
    border: none;
}

.space {
	text-align: left;
	vertical-align: middle;
	border-left: none;
	padding-right: 0.25px;
	width: 20px;
	height: 25px;
}

.acrossclues, .downclues {
	clear: both;
	height: 100px;
	overflow: scroll;
	margin: 1%;
	padding: 0.25em;
	border: solid 1px black;
}

#xword_grid .currword {
	background-color: #CCCCFF;
}

#xword_grid .curr {
	background-color: #8080FF;
}

.acrossclues .active, .downclues .active {
	background-color: #FFCC80;
}

#check, #reset, #word, #letter, #help {
	float: left;
	margin: 1em;
	border-radius: 10px;
	padding: 0.5em;
	color: white;
}

#help {
	background-color: #DFA5A5;
}

#check, #reset {
	background-color: #5cb85c;
}

#word, #letter {
	background-color: #8080FF;
}

.check:hover {
	background-color: #4cae4c;
}

.incorrect {
	background-color: #DFA5A5;
}

.keyboard td {
	border: 1px solid black;
	padding: 0 0.25em;
	margin: 0.1em;
	font-size: 2em;
	text-align: center;
}

.keyboard {
	border-collapse: separate;
}

.helpdiv {
	clear: both;
	position: absolute;
	background-color: #eaeaea;
	opacity: 0.9;
	width: 95%;
	height: 95%;
	margin: 1%;
}

.helptext {
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	background-color: white;
	border: 2px solid black;
	padding: 1em;
	opacity: 1;
	overflow: scroll;
	height: 75%;
}

#xbox {
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	color: #7C7C7C;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	border: 3px solid #7c7c7c;
	padding: 0.25em;
}

#helptext {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	opacity: 1;
	clear: both;
}